[submodule "WebPortfolio"]
	path = WebPortfolio
	url = git@github.com:JacekzMilo/WebPortfolio.git
[submodule "Investigate-a-relational-Database"]
	path = Investigate-a-relational-Database
	url = git@github.com:JacekzMilo/Investigate-a-relational-Database.git
[submodule "Investigate-a-Bikeshare-database"]
	path = Investigate-a-Bikeshare-database
	url = git@github.com:JacekzMilo/Investigate-a-Bikeshare-database.git
[submodule "covid-analysis"]
	path = covid-analysis
	url = git@github.com:JacekzMilo/covid-analysis.git
[submodule "Crypto_nlp"]
	path = Crypto_nlp
	url = git@github.com:JacekzMilo/Crypto_nlp.git
[submodule "Transaction-categorization"]
	path = Transaction-categorization
	url = https://github.com/JacekzMilo/Transaction-categorization
